files:
    "/home/ec2-user/sshgit/composer.sh":
        mode: "00755"
        owner: ec2-user
        group: ec2-user
        encoding: plain
        content: |
            if [ ! -f ~root/id_rsa ] ; then
              cp .ebextensions/bin/id_rsa ~root/id_rsa
              chmod 0400 ~root/id_rsa
            fi

            eval `ssh-agent -s`
            ssh-add ~root/id_rsa

            echo 'StrictHostKeyChecking no' >> /etc/ssh/ssh_config

            export COMPOSER_HOME=/root
            COMPOSER_HOME=/root
            /opt/elasticbeanstalk/support/composer.phar self-update
            #/opt/elasticbeanstalk/support/composer.phar install --no-interaction
            /opt/elasticbeanstalk/support/composer.phar update

container_commands:
    100-install-composer:
        command: "/home/ec2-user/sshgit/composer.sh"