files:
    "/opt/elasticbeanstalk/hooks/appdeploy/post/99_make_storage_writable.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/usr/bin/env bash
            chmod -R 777 /var/app/current/storage

container_commands:
    200-artisan-optimize:
        command: "cd /var/app/current && php artisan clear-compiled"
    201-artisan-optimize:
        command: "cd /var/app/current && php artisan route:clear"
    202-artisan-optimize:
        command: "cd /var/app/current && php artisan config:clear"
    203-artisan-optimize:
        command: "cd /var/app/current && php artisan optimize --force"
    204-artisan-optimize:
        command: "cd /var/app/current && php artisan config:cache"