files:
    "/opt/elasticbeanstalk/hooks/appdeploy/post/99_make_storage_writable.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/usr/bin/env bash
            chmod -R 777 /var/app/current/storage

container_commands:
    200-artisan-optimize:
        command: "cd /var/app/current && php artisan optimize"