files:
    "/opt/elasticbeanstalk/hooks/appdeploy/pre/50npm.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/usr/bin/env bash
            chmod -R 777 /var/app/current/storage

            export HOME=/home/ec2-user
            echo "export home"
            /usr/bin/git config --global url.'https://'.insteadOf git://
            cd /var/app/current && /usr/bin/npm install
container_commands:
    300-install-nodejs:
        command: "source .ebextensions/bin/install-nodejs.sh"
    #301-package-install:
    #    command: "cd /var/app/current && /usr/bin/npm install"
    302-run-gulp:
        command: "cd /var/app/current && gulp --production"